<div class="wrapper">
  <div class="background">
    <img class="featured-image" src="/images/ayahuasca04.jpg" alt="Ayahuasca Hallucination - Aurora Borealis.">
    <div class="title">The Visual Text</div>
    <div class="buttons">
      <div class="button"><a href='/blog/posts'>Read</a></div>
      <div class="button"><a href='https://twitter.com/thevisualtext'>Tweet</a></div>
      <!-- <div class="button"><a href='/about'>About</a></div> -->
      <div class="button"><a href='/podcast'>Podcast</a></div>
    </div>
  </div>
</div>
