<div class="wrapper">
  <div class="background">
    <img class="memories" src="/images/memories.png" alt="Memories of Murder - Staring Eyes.">
    <div class="title">The Visual Text</div>
    <div class="buttons">
      <div class="button"><a href='http://blog.thevisualtext.com'>Read</a></div>
      <div class="button"><a href='https://twitter.com/Muffin_Chips'>Tweet</a></div>
      <div class="button"><a href='http://blog.thevisualtext.com/about'>About</a></div>
    </div>
  </div>
</div>
