<div class="wrapper" style='background: url(../images/background.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 24px;'>
  <div style='margin: 0 auto; max-width: 500px;'>
    <img src="/images/ChunkyPodcastLogo.png" alt="Chunky - The Podcast logo" style='width: 100%;'/>
  </div>
</div>
<div style='margin: 0 auto; text-align: center'>
  <h1 class="podcast-page-header">Episodes</h1>

  <div id='podcast-episodes-wrapper'>
    <!-- Episodes or error should populate here based on AJAX call. -->
  </div>

  <h1 class="podcast-page-header">About</h1>
  <!-- TODO: Pull from API eventually - about section? -->
  <p class='podcast-page-paragraph' style="max-width: 700px; margin: 0 auto;">Chunky is a casual conversation between best friends about contemporary film, its antecedents, and their relationship to the Zeitgeist.  Mitchell Cravens is your host, and Francesco Pascuzzi is your film expert. Most films that we discuss also have been reviewed by Francesco or Mitch at <a href="http://blog.thevisualtext.com" target="_blank" style="color: blue;">http://blog.thevisualtext.com</a>. So check us out!</p>

  <div style="max-width: 50px; margin: 0 auto; margin-top: 18px">
    <img src="/images/banana.png" alt="Small banana from above Chunky Podcast logo." style='width: 100%;'/>
  </div>

</div>
