<div style='margin: 0 auto; text-align: center; padding-top: 10px;'>

  <h1 class="podcast-page-header">Episodes</h1>

  <div id='podcast-episodes-wrapper'>
    <!-- Episodes or error should populate here based on AJAX call. -->
  </div>

  <h1 class="podcast-page-header">About</h1>
  <!-- TODO: Pull from API eventually - about section? -->
  <p class='podcast-page-paragraph' style="max-width: 700px; margin: 0 auto; padding-bottom: 10px;">The Visual Text is a casual conversation between best friends about contemporary film, its antecedents, and their relationship to the Zeitgeist.  Mitchell Cravens is your host, and Francesco Pascuzzi is your film expert. Most films that we discuss also have been reviewed by Francesco or Mitch on our blog.</p>

</div>
