body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}
.wrapper .background {
  min-height: 100vh;
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5%;
  color: white;
  padding-bottom: 15px;
}
.wrapper .background .memories {
  display: block;
  margin: 0 auto;
  width: 38%;
}
.wrapper .background .title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 48px;
  background: black;
  width: 38%;
  margin: 0 auto;
}
.wrapper .background .buttons {
  margin-top: 1%;
}
.wrapper .background .buttons .button {
  display: inline-block;
  width: 10%;
  height: 10%;
  background: black;
  font-family: 'Advent Pro', sans-serif;
  font-size: 24px;
}
@media (max-width: 768px) {
  .wrapper .background .memories {
    display: block;
    margin: 0 auto;
    width: 78%;
  }
  .wrapper .background .title {
    width: 78%;
  }
  .wrapper .background .buttons .button {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .wrapper .background .buttons .button {
    padding: 1% 3%;
  }
}
